
html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  list-style: none;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

.screen {
  position: relative;
  width: 375px;
  padding-bottom: 20px;
  background: #191765;
  display: inline-block;
}

.header {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  padding-top: 5px;
}

.time-status {
  background-color: none;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.status {
  size: px;
}

.header-items {
  width: 375px;
  height: 20px;
  position: absolute;
  padding-top: 20px;
}

.my-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 105px;
  height: 36px;
  left: 12px;
  top: calc(50% - 36px / 2);
}

.logo-text {
  height: 16px;
  font-family: 'Roboto';
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
}

.menu-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 66px;
  height: 66px;
  right: 24px;
  top: calc(50% - 66px / 2);
  border-radius: 8px;
}

.menu-btn-img {
  background: none;
  border: none;
}

.headline-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-text {
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Roboto';
  margin-bottom: -10px;
  margin-top: 80px;
}

.supporting-text {
  color: #edecff;
  font-size: 32px;
  font-weight: 500;
  font-family: 'Roboto';
}

.headline {
  margin-top: 0;
  padding-top: 0;
  height: 70%;
  background-image: url("images/circles.png");
  background-repeat: no-repeat;
}

.text-container {
  margin: 10px;
  padding: 2px;
  height: 100%;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  padding-top: 0;
  margin-top: 5px;
}

.p-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

p {
  width: 327px;
  height: 170px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #d8d8d4;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 10px;
}

/* .support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0;
} */


.frame {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 303px;
  height: 610.15px;
  flex: none;
  order: 2;
  flex-grow: 0;
  line-height: 45px;
}

.frame-a{
  display: flex;
}

.skills {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding-bottom: 25px; */
  padding-left: 30px;
  padding-right: 30px;
}

.common {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #9490FF;
}

.social-media {
  justify-content: center;
  padding-left: 10px;
  padding-right: 60px;
  margin-top: 0;
}

.link {
  margin-left: 5px;
  margin-right: 7px;
  justify-content: center;
  display: flex;
}

ul {
  list-style-type: none;
}

.divider-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 5px;
  padding-bottom: 40px;
}

.divider {
  position: absolute;
  background-color: #646369;
  width: 80%;
  height: 0.7px;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #a2a3ae;
  padding-left: 20px;
}

.arrow {
  margin-left: 10px;
  height: 20px;
}

a:hover {
  background: rgb(51, 49, 80);
}

.fa {
  border-radius: 15px;
}
